.mainRoot {
  display: flex;
  height: 100vh;
  background: #494ca2;
}

.mainSide {
  width: 270px;
}

.mainContent {
  background: #F0F1F4;
  display: flex;
  margin-top: 4px;
  flex-direction: column;
  border-top-left-radius: 7px;
  flex: 1;
}